@import "../../styles/variables.scss";

.main {
  background-color: $color-background;
  height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-primary;
    padding: 2rem;
    border-radius: 10px;
  }
  &__results {
    border: none;
    width: 220px;
    height: 60px;
    background-color: $color-secondary;
    text-align: right;
    font-size: 2.2rem;
    font-weight: 600;
    padding: 5px;
    color: $color-light;
    &::placeholder {
      color: $color-light;
    }
  }
  &__calculator {
    margin-top: 40px;
    display: flex;
    align-items: center;
    &--operators {
      display: flex;
      flex-direction: column;
    }
  }
}
.button {
  border: none;
  background-color: $color-secondary;
  width: 52px;
  height: 52px;
  margin: 3px;
  border-radius: 20px;
  color: $color-light;
  font-size: 1.6rem;
}
.orange {
  background-color: $color-tertiary;
}
