@import "../../styles/variables.scss";

.main {
  background-color: $color-background;

  &__container {
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
